* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body,
#root {
  max-width: 3000px;
  max-height: 2105px;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  width: 2900px;
  height: 2105px;
  background-color: #000000;
  padding: 2em;
  position: relative;
}

.nav-bar {
  width: 96px;
  height: 960px;
  background: #161D2F;
  border-radius: 20px;
  position: absolute;
  left: 32;
  top: 32;
  display: flex;
  justify-content: center;
  align-items: center;
}

Link {
  cursor: pointer;
}

.movie-logo {
  position: absolute;
  width: 32px;
  height: 25.6px;
  left: 32px;
  top: 37.41px;
}

.nav-link-group {
  position: absolute;
  width: 20px;
  height: 200px;
  left: 35px;
  top: 168px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav-image {

  box-sizing: border-box;

  position: absolute;
  width: 40px;
  height: 40px;
  left: 30px;
  top: 880px;

  background: url("./image-avatar.png");
  /* Pure White */
  background-position: center;
  border-radius: 50%;
  background-size: contain;
  border: 1px solid #FFFFFF;
}

.home-screen {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: visible;
  overflow-y: visible;
}

.search-box {
  position: absolute;
  width: 381px;
  height: 32px;
  left: 164px;
  top: 64px;
}

.search-box>img {
  position: absolute;
  width: 32px;
  height: 32px;
  left: 0px;
  top: 0px;
  margin: 0;
}

.search-text {
  position: absolute;
  height: 30px;
  left: 14.7%;
  right: 1.05%;
  top: calc(50% - 30px/2);

  /* Heading (M) */

  font-family: 'Outfit';
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 30px;

  /* Pure White */

  color: #FFFFFF;

  mix-blend-mode: normal;
  opacity: 0.5;
  background-color: #000000;
  border: none;
  outline: none;
}

.trending-section {
  position: absolute;
  max-width: 2800px;
  height: 295px;
  left: 164px;
  top: 130px;
  /* display: inline-block; */
  display: flex;
  background-color: #000000;
  flex-wrap: wrap;
}

.recommended-section {
  position: absolute;
  top: 495px;
  left: 164px;
  width: 1100px;
  height: 1550px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.trending-header {
  position: absolute;
  height: 40px;
  left: 0%;
  right: 95.14%;
  top: calc(50% - 40px/2 - 127.5px);

  /* Heading (L) */

  font-family: 'Outfit';
  font-style: normal;
  font-weight: 300;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: -0.5px;

  /* Pure White */

  color: #FFFFFF;
}

.trending-item {
  position: relative;
  display: flex;
  width: 470px;
  height: 230px;
  top: 65px;
  margin-right: 40px;
  padding: 0px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  border-radius: 8px;
}


.trending-detail {
  position: absolute;
  left: 0.96%;
  right: 93.07%;
  top: 74.24%;
  bottom: 8.14%;
  width: 100%;
  text-align: left;
}

.trending-detail-info {
  width: 470px;
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 63.46%;
  color: #FFFFFF;
}

.bookmark {
  position: absolute;
  width: 32px;
  height: 32px;
  left: 414px;
  top: 21px;
  background-color: #5A698F;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.play-button {
  border: none;
}

.play {
  display: none;
  visibility: hidden;
  width: 117px;
  height: 48px;
  position: absolute;
  left: 35%;
  right: 35.29%;
  top: 34.88%;
  bottom: 30.85%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 3px;
  /* Pure White */

  background: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.25;
  border-radius: 28.5px;
  cursor: pointer;
}

.trending-item:hover .play {
  visibility: visible;
}

.play-button>img {
  filter: invert(1);
  color: #FFFFFF;
  /* position: absolute;
  left: 7.69%;
  right: 66.67%;
  top: 18.75%;
  bottom: 18.75%;

  /* Pure White */

  /* background: #FFFFFF; */

}

.play>p {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  color: black;
}

.bookmark>img {

  width: 40%;
  height: 40%;
  filter: brightness(0) invert(1);
}

.trending-detail-info>ul {
  width: 30%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  opacity: 0.8;
  font-size: 12px;
}


.trending-detail-info>ul>li {
  display: flex;
  justify-content: center;
  align-items: center;
}


.trending-detail-info>ul>li>img {
  margin-right: 2px;
  width: 10px;
  height: 10px;
  filter: brightness(0) invert(1);
}

.trending-detail>h2 {
  position: absolute;
  height: 30px;
  left: 2%;
  right: 3.33%;
  top: calc(50% - 30px/2 + 11px);

  /* Heading (S) */

  font-family: 'Outfit';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;

  /* Pure White */

  color: #FFFFFF;
}

/* .recomended-section {
  position: absolute;
  width: 1240px;
  height: 556px;
  left: 164px;
  top: 265px;
  border: 1px solid white
} */


.recommended-section>h1 {
  color: #FFFFFF;
  height: 40px;
  left: 0%;
  right: 95.14%;
  top: calc(50% - 40px/2 - 127.5px);

  /* Heading (L) */

  font-family: 'Outfit';
  font-style: normal;
  font-weight: 300;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: -0.5px;
}

.recommended-details {
  margin-top: 20px;
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.movies-section,
.bookmark-section {
  width: 1100px;
  height: 95%;
  /* border: 1px solid blanchedalmond; */
  margin-left: 125px;
  margin-top: 100px;
}

.movies-section>h1,
.bookmark-header {
  color: #FFFFFF;
  text-align: left;
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 30px;
}

.movie-details {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.movies-item {
  position: relative;
  width: 250px;
  height: 180px;
  margin-right: 10px;
  padding: 0px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  border-radius: 8px;
  background-repeat: no-repeat;
}

.movies-bookmark {
  position: absolute;
  width: 25px;
  height: 25px;
  left: 200px;
  top: 20px;
  background-color: #5A698F;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.bookmark-section {
  height: 50%;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: column;
}

.bookmark-details {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 15px;
}

.bookmark-header {
  margin-left: 12px;
  margin-bottom: 30px;
}

.bookmark-item {
  margin-bottom: 30px;
}

.recommended-section>h1 {
  margin-bottom: 30px;
}

.recommended-item {
  margin-bottom: 30px;
}

/* .bookmark-section:last-child {
  margin-top: -30px;
} */
.bookmark-section {
  position: absolute;
  top: 60px;
  /* margin-top: 100px; */
  margin-bottom: 0px;
  height: auto;
  display: flex;
}

.search-section {
  margin-top: 10px;
  height: auto;
  display: flex;
  justify-content: flex-start;
}

.search-item {
  margin-top: 30px;
}